@import 'variables';

@media(max-width: 961px){
	.navigation-box{
		display: none !important;
	}

	.lines{
		display: none !important;
	}

	.logo-live-social{
		display: none !important;
	}

	header{
		display: none !important;
	}

	.fixed-menu{
		display: none !important;
	}

	.center{
		margin: 0 auto;
		width: 90%;
	}

	.center_small{
		margin: 0 auto;
		width: 90%;
	}

	.mobile-header{
		display: block;
		width: 100%;
		height: 90px;
		background-color: white;
		padding: 0 5%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: fixed;
		top: -100px;
		left: 0;
		z-index: 1000;
		@include trans('top', '600ms');
		@include dropShadow('0px', '3px', '6px', '3px', 'rgba(0,0,0,0.16)');
	}

	.loaded .mobile-header{
		top: 0;
	}

	.mobile-header a.logo{
		@include makeNull;
		width: 135px;
		height: 44px;
		display: block;
		text-decoration: none;
		text-indent: -9999px;
		position: relative;
		flex-basis: 35%;
	}

	.mobile-header a.logo::before{
		@include makeNull;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url('../img/single-logo.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.mobile-header .middle{
		text-align: center;
		flex-basis: 50%;
	}

	.mobile-header .middle a{
		display: block;
		font-size: 14px;
	}

	.mobile-header .middle a.live-video{
		@include makeNull;
		display: block;
		text-decoration: none;
		color: $white;
		margin: 0 auto;
		width: 90px;
		height: 26px;
		border-radius: 22px;
		background-color: $color3;
		padding: 0 20px 0 43px;
		position: relative;
	}

	.mobile-header .middle a.live-video::before{
		@include makeNull;
		content: "";
		width: 18px;
		height: 12px;
		position: absolute;
		top: calc(50% - 6px);
		left: 15px;
		@include sprite('-207px -94px');
		background-color: $white;
	}

	.mobile-header .middle a.call{
		display: block;
		color: $color1;
		text-decoration: none;
		position: relative;
		padding-left: 15px;
	}

	.mobile-header .middle a.call::before{
		content: "";
		width:18px;
		height:18px;
		position: absolute;
		left: 15px;
		top: calc(50% - 9px);
		@include sprite('-233px -90px');
		background-color: $color1;
	}

	.mobile-header .burger{
		flex-basis: 15%;
		height: 40px;
	}

	.mobile-header .burger a{
		@include makeNull;
		width: 40px;
		height: 40px;
		margin:0;
		display: block;
		text-decoration: none;
		text-indent: -9999px;
		position: relative;
		float: right;
	}

	.mobile-header .burger a::before{
		@include makeNull;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include sprite('-3px -123px');
		background-color: $color4;
	}

	.image-text{
		position: relative;
		margin-top: 90px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image-text .multiplyColor{
		display: none !important;
	}

	.image-text .text-box{
		position: static;
		height: unset;
	}

	.image-text .text-box .center_small .box{
		width: 100%;
		padding: 0;
	}

	.image-text .text-box .center_small .box h2{
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 15px;
	}

	.image-text .text-box .center_small .box p{
		font-size: 18px;
    	line-height: 20px;
	}

	main, footer{
		max-width: 100%;
		overflow-x: hidden;
	}

	.mobile-navigation{
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 10000;
		background-color: $color1;
		@include trans('top', '600ms');
	}

	.mobile-navigation.open{
		top: 0;
	}

	.mobile-navigation .close{
		@include makeNull;
		width: 44px;
		height: 44px;
		display: block;
		text-indent: -9999px;
		margin: 30px auto;
	}

	.mobile-navigation .close a{
		@include makeNull;
		width: 44px;
		height: 44px;
		display: block;
		text-decoration: none;
		text-indent: -9999px;
		position: relative;
	}

	.mobile-navigation .close a::after{
		@include makeNull;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include sprite('-52px -120px');
		background-color: $white;
	}

	.mobile-navigation .languages{
		@include makeNull;
		height: 30px;
		list-style-type: none;
		text-align: center;
	}

	.mobile-navigation .languages li{
		@include makeNull;
		display: inline-block;
		margin: 0 5px;
	}

	.mobile-navigation .languages li a{
		@include makeNull;
		display: block;
		height: 20px;
		padding: 0 5px;
		color: $white;
		opacity: 0.5;
		text-decoration: none;
	}

	.mobile-navigation .languages li a.active{
		opacity: 1;
		border-bottom: solid 1px $white;
	}

	.mobile-navigation nav{
		@include makeNull;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}

	.mobile-navigation nav ul{
		@include makeNull;
		list-style-type: none;
	}

	.mobile-navigation nav ul li{
		@include makeNull;
		display: block;
		width: 100%;
		text-align: center;
	}

	.mobile-navigation nav ul li a{
		@include makeNull;
		display: block;
		color: $white;
		text-decoration: none;
		pointer-events: all;
	}

	.mobile-navigation .bottom{
		@include makeNull;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 15px;
	}

	.mobile-navigation .bottom .social{
		@include makeNull;
		list-style-type: none;
		text-align: center;
		margin-bottom: 15px;
	}

	.mobile-navigation .bottom .social li{
		@include makeNull;
		display: inline-block;
		margin: 0 5px;
	}

	.mobile-navigation .bottom .social li a{
		@include makeNull;
		display: block;
		text-decoration: none;
		width: 22px;
		height: 22px;
		text-indent: -9999px;
		position: relative;
	}

	.mobile-navigation .bottom .social li a::before{
		@include makeNull;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.mobile-navigation .bottom .social li a.facebook::before{
		@include sprite('-43px -89px', 'true');
	}

	.mobile-navigation .bottom .social li a.instagram::before{
		@include sprite('-70px -89px', 'true');
	}

	.mobile-navigation .bottom .social li a.telegram::before{
		@include sprite('-96px -89px', 'true');
	}

	.mobile-navigation .bottom .social li a.whatsapp::before{
		@include sprite('-151px -89px', 'true');
	}

	.mobile-navigation .bottom .social li a.viber::before{
		@include sprite('-124px -89px', 'true');
	}

	.mobile-navigation .bottom .contact-box{
		@include makeNull;
		display: block;
		text-align: center;
		display: flex;
		justify-content: center;
	}

	.mobile-navigation .bottom .contact-box a{
		@include makeNull;
		display: inline-block;
		text-decoration: none;
		height: 30px;
		padding: 0 10px;
		margin: 5px;
		text-align: center;
		color: $white;
		border: solid 1px $white;
		border-radius: 15px;
	}

	.mobile-navigation .bottom .contact-box a.ask-call{
		padding-left: 40px;
		position: relative;
	}

	.mobile-navigation .bottom .contact-box a.ask-call::before{
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		left: 15px;
		top: calc(50% - 10px);
		@include sprite('-180px -89px');
		background-color: $white;
		transform: scale(0.8);
	}

	main .about .center_small h2{
		font-size: 24px;
		line-height: 24px;
		margin: 30px 0;
		padding: 0;
	}

	main .about .center_small .content .text{
		width: 100%;
		padding: 0;
		float: none;
	}

	main .about .center_small .content .text p{
		font-size: 16px;
		line-height: 20px;
	}

	main .about .center_small .content .outside-left,
	main .about .center_small .content .inside-image,
	main .about .center_small .content .outside-right{
		display: none;
	}

	main .about .center_small .content .text p{
		padding-bottom: 20px;
	}

	main .about .center_small .content .text .data-list li{
		height: unset;
		padding: 15px 0;
	}

	main .about .center_small .content .text .data-list li p{
		font-size: 16px;
		line-height: 20px;
		padding-left: 80px;
		padding-right: 15px;
	}

	main .about .center_small .content .text .data-list li em{
		transform: scale(0.7);
	}

	main .about .center_small .content .text .image-mobile-box{
		margin: 0 -5px 20px -5px;
		display: block;
		height: 100px
	}

	main .about .center_small .content .text .image-mobile-box .image-mobile-item{
		width: calc(33% - 10px);
		height: 120px;
		margin: 0 5px;
		float: left;
	}

	main .about .center_small .content .text .image-mobile-box .image-mobile-item .image{
		width: 100%;
		height: 100px;
		background-size: cover;
		background-position: center;
	}

	main .call-request{
		padding: 30px 0;
	}

	main .call-request .ask-call{
		width: 100%;
		height: unset;
		line-height: 35px;
		font-size: 16px;
		text-align: center;
		margin-bottom: 15px;
	}

	main .call-request h2{
		font-size: 16px;
		line-height: 20px;
		max-width: unset;
		float: none;
		padding-right: unset;
	}

	main .main-advantages{
		background-position: center;
	}

	main .main-advantages .center_small h2{
		font-size: 24px;
		line-height: 24px;
		padding: 30px 0;
	}

	main .main-advantages .center_small .list-box ul{
		display: block;
		transform: translateY(0px) translateX(-200px) !important;
	}

	main .main-advantages.g-visible .center_small .list-box ul{
		transform: translateY(0px) translateX(0px) !important;
	}

	main .main-advantages .center_small .list-box ul li{
		padding: 15px !important;
		border: 0;
		width:50%;
		display: block;
		float: left;
	}

	main .main-advantages .center_small .list-box ul li::after{
		content: none;
	}

	main .main-advantages .center_small .list-box ul li.last::before{
		content: none;
	}

	main .main-advantages .center_small .list-box ul li em{
		transform: scale(0.8);
	}

	main .main-advantages .center_small .list-box ul li p{
		font-size: 14px;
		line-height: 20px;
		margin-top: 10px;
	}

	main .infrastructure h2{
		font-size: 24px;
		line-height: 24px;
		padding: 30px 0;
	}

	main .infrastructure .boxes{
		display: block;
	}

	main .infrastructure .boxes .box{
		width: 90%;
		margin: 0 5% 15px 5%;
	}

	main .infrastructure .boxes .box .image-box{
		height: 300px;
	}

	main .infrastructure .boxes .box .image-box .title{
		padding: 0 30px;
	}

	main .infrastructure .boxes .box .title{
		font-size: 16px;
		line-height: 50px;
	}

	main .infrastructure .boxes .box .image-box::after{
		height: 50px;
	}

	main .infrastructure .boxes .box .content ul{
		padding: 30px;
	}

	main .infrastructure .boxes .box .content ul li{
		margin-bottom: 15px;
	}

	main .infrastructure .boxes .box .content ul li span{
		font-size: 16px;
		line-height: 24px;
	}

	main .services .center h2{
		font-size: 24px;
		line-height: 24px;
		padding: 30px 0;
	}

	main .services .center .boxes .box{
		width: 100%;
		float: none;
		min-height: unset;
		padding: 0 0 15px 0 !important;
	}

	main .services .center .boxes .box::before,
	main .services .center .boxes .box.last::after{
		content: none;
	}

	main .services .center .boxes .box em{
		transform: scale(0.7);
	}

	main .services .center .boxes .box p{
		font-size: 16px;
		line-height: 16px;
		padding-top: 0;
	}

	main .conditions h2{
		font-size: 24px;
		line-height: 24px;
		padding: 30px 0;
	}

	main .conditions .boxes{
		height: 600px;
	}

	main .conditions .boxes .left{
		width: 100%;
		height: 400px;
	}

	main .conditions .boxes .left .top,
	main .conditions .boxes .left .bottom{
		width: 100%;
		height: 200px;
	}

	main .conditions .boxes .top-right{
		width: 100%;
		height: 200px;
		top: unset;
		bottom: 0;	
	}

	main .conditions .boxes .left .top p,
	main .conditions .boxes .left .bottom p,
	main .conditions .boxes .top-right p{
		font-size: 16px;
		line-height: 20px;
		height: unset;
		padding: 10px 0;
	}

	main .conditions .boxes .multi-top-left{
		width: 100%;
		height: 200px;
	}

	main .conditions .boxes .multi-top-right{
		width: 100%;
		height: 200px;
		top: 200px;
	}


	main .conditions .boxes .multi-bottom-left{
		width: 100%;
		height: 200px;
	}

	main .choose-flat .center .top{
		padding: 30px 0;
	}

	main .choose-flat .center .top h2{
		font-size: 24px;
		line-height: 24px;
		padding-bottom: 30px;
	}

	main .choose-flat .center .top a{
		margin-right: 0;
		font-size: 16px;
		line-height: 16px;
		padding: 15px;
	}

	main .choose-flat .center #chooseFlatOwl .item{
		height: 300px;
	}

	main .choose-flat .center #chooseFlatOwl .item p{
		font-size: 14px;
	}

	main .choose-flat .center #chooseFlatOwl .owl-nav{
		padding: 30px 0;
	}

	main .choose-flat .center #chooseFlatOwl .owl-nav button{
		transform: scale(0.8);
	}

	main .benefits{
		padding: 30px 0;
	}

	main .benefits .center .left,
	main .benefits .center .right{
		width: 100%;
	}

	main .benefits .center .left h2{
		font-size: 24px;
		line-height: 24px;
		padding-left: 0px;
	}

	main .benefits .center .left ul{
		margin-top: 30px;
	}

	main .benefits .center .left ul li{
		padding: 5px 30px;
	}

	main .benefits .center .left ul li span{
		font-size: 16px;
		line-height: 20px;
	}

	main .benefits .center .right a{
		font-size: 16px;
		line-height: 16px;
		margin-left: 0;
		margin-top: 30px;
		width: 100%;
		padding: 15px;
		text-align: center;
	}

	main .tech{
		min-height: unset;
	}

	main .tech .multi{
		width: 100%;
		height: 100%;
	}

	main .tech .right{
		width: 100%;
		padding: 30px 5%;
		margin-left: 0;
	}

	main .tech .right h2{
		font-size: 24px;
		line-height: 24px;
	}

	main .tech .right ul{
		margin-top: 30px;
	}

	main .tech .right ul li{
		margin-bottom: 15px;
		padding-left: 35px;
	}

	main .tech .right ul li em{
		transform: scale(0.8);
	}

	main .tech .right ul li span{
		font-size: 16px;
	}

	footer h2{
		font-size: 24px;
		line-height: 24px;
		padding: 30px 0;
	}

	footer .map{
		height: 300px;
	}

	footer .topMinus25{
		margin-top: -100px;
	}

	footer .center_small .data{
		height: 400px;
	}

	footer .center_small .data ul li{
		width: 100%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	footer .center_small .data ul li span{
		font-size: 14px;
	}

	footer .center h3{
		font-size: 18px;
		line-height: 18px;
		padding: 30px 0;
	}

	footer .center .contact-data::before{
		content: none;
	}

	footer .center .contact-data{
		background-color: $color1;
		height: unset;
	}

	footer .center .contact-data .multi{
		display: none;
	}

	footer .center .contact-data .center_small .social{
		float: none;
		width: 100%;
		height: 60px;
		padding: 15px 0;
	}

	footer .center .contact-data .center_small .messages{
		float: none;
		margin-left: 0px;
		height: 60px;
		padding: 15px 0;
		display: block;
	}

	footer .center .contact-data .center_small .messages ul li a.call{
		font-size: 16px;
	}

	footer .center .contact-data .center_small .mailto{
		float: none;
		margin-left: 0;
		height: 60px;
		padding: 15px 0;
		display: block;
	}

	footer .center .contact-data .center_small .ask-call-box{
		float: none;
		height: 60px;
		display: block;
	}

	footer .center .contact-data .center_small .ask-call-box a{
		font-size: 16px;
		line-height: 35px;
		height: 35px;
		display: inline-block;
	}

	footer .center .copyright p{
		font-size: 13px;
	}

	.inner-page main{
		margin-top: 90px;
	}

	.inner-page main .cover .center_small h1{
		font-size: 24px;
		line-height: 30px;
		padding: 15px 0;
	}

	.inner-page.about-company-page main .about-company .center_small h2{
		font-size: 24px;
		line-height: 24px;
		padding: 30px 0;
	}

	.inner-page.about-company-page main .about-company .center_small p{
		font-size: 16px;
		line-height: 20px;
	}

	.inner-page.about-company-page main .about-company .center_small .image-list{
		padding: 30px 0;
	}

	.inner-page.about-company-page main .about-company .center_small .image-list .image-box{
		margin-bottom: 15px;
	}

	.inner-page.about-company-page main .about-company .center_small .image-list .col-md-3:last-child .image-box{
		margin-bottom: 0px;	
	}

	.inner-page.about-page main .cover{
		height: unset;
	}

	.inner-page.about-page main .about{
		margin-top: 30px;
	}

	.inner-page.apartments-page main .apartments::before{
		width: 100%;
	}

	.inner-page.apartments-page main .apartments .center_small .left{
		float: none;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.inner-page.apartments-page main .apartments .center_small .right{
		width: 100%;
		float: none;
	}

	.inner-page.apartments-page main .apartments .center_small .right .map-box{
		position: static;
	}

	.inner-page.apartments-page main .apartments .center_small .right .map-box .mapImage{
		height: 370px;
		width: 100%;
		float: none;
		margin-top: 30px;
		margin-left: 0;
		margin: 0 auto;
	}

	.inner-page.apartments-page main .apartments .center_small .left h2{
		font-size: 24px;
		line-height: 24px;
	}

	.inner-page.apartments-page main .apartments .center_small .left .content{
		padding-top: 15px;
	}

	.inner-page.apartments-page main .apartments .center_small .left .content p{
		font-size: 24px;
		line-height: 24px;
	}

	.inner-page.apartments-page main .apartments .center_small .left .content p .number{
		font-size: 26px;
		line-height: 26px;
	}

	.inner-page.apartments-page main .apartments .center_small .right .map-box .mapImage .map{
		display: none;
	}

	.inner-page.destination-page main .cover{
		padding: 0 0 15px 0;
	}

	.inner-page.destination-page main .cover .center_small p{
		font-size: 16px;
		line-height: 20px;
		padding-left: 0px;
		max-width: unset;
		margin-top: -15px;
	}

	.inner-page.destination-page main .text-image-box .center_small{
		margin: 30px auto;
	}

	.inner-page.destination-page main .text-image-box .center_small .text-image{
		display: block;
		margin-bottom: 85px;
	}

	.inner-page.destination-page main .text-image-box .center_small .text-image.left .column.text-box{
		padding-right: 0;
	}

	.inner-page.destination-page main .text-image-box .center_small .text-image .column h2{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 15px;
	}

	.inner-page.destination-page main .text-image-box .center_small .text-image .column p{
		font-size: 16px;
		line-height: 20px;
	}

	.inner-page.destination-page main .text-image-box .center_small .text-image .column .image-box{
		width: 90%;
		height: 250px;
		position: relative;
		margin: 50px 5%;
	}

	.inner-page.destination-page main .text-image-box .center_small .text-image.right .column.text-box{
		padding-left: 0;
	}

	.inner-page.destination-page main .text-image-box .center_small .text-image .column ul li{
		padding-left: 30px;
		font-size: 16px;
		line-height: 20px;
	}

	.inner-page.invest-page main .cover .multi2{
		width: 90%;
		height: calc(100% - 90px);
		left: 5%;
	}

	.inner-page.invest-page main .cover .center_small .about-georgia{
		padding: 30px;
	}

	.inner-page.invest-page main .cover .center_small .about-georgia h2{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 15px;
	}

	.inner-page.invest-page main .cover .center_small .about-georgia .content p{
		font-size: 16px;
		line-height: 20px;
	}

	.inner-page.invest-page main .cover .center_small .about-georgia .content ul{
		margin-top: 15px;
	}

	.inner-page.invest-page main .cover .center_small .about-georgia .content ul li{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
		padding-left: 30px;
	}

	.inner-page.invest-page main .tourism{
		margin-top: 30px;
		padding-bottom: 30px;
	}

	.inner-page.invest-page main .tourism .center_small .content{
		padding: 30px;
	}

	.inner-page.invest-page main .tourism .center_small .content h2{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 15px;
	}

	.inner-page.invest-page main .tourism .center_small .content p{
		font-size: 16px;
		line-height: 20px;
	}

	.inner-page.invest-page main .tourism .center_small .content ul{
		margin-top: 15px;
	}

	.inner-page.invest-page main .tourism .center_small .content ul li{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
		padding-left: 30px;
	}

	.inner-page.invest-page main .text-boxes{
		padding: 30px 0;
	}

	.inner-page.invest-page main .text-boxes::before{
		content: none;
	}

	.inner-page.invest-page main .text-boxes .center_small .box{
		display: block;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .left .content{
		padding-bottom: 30px;
		padding-right: 0px;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .left .content h2{
		font-size: 24px;
		line-height: 24px;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .left .content p, 
	.inner-page.invest-page main .text-boxes .center_small .box .right .content p{
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 15px;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .left .content:last-child{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .left .content:first-child::after{
		width: 100%;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .right{
		display: block;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .right .content{
		padding: 30px 0 0 0;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .right .content::before{
		width: 100%;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .right .content::after{
		content: none;
	}

	.inner-page.invest-page main .text-boxes .center_small .box .right .content h2{
		font-size: 24px;
		line-height: 24px;
	}

	.inner-page.invest-page main .about-batumi .multi2{
		width: 90%;
		left: 5%;
		height: calc(100% - 130px);
	}

	.inner-page.invest-page main .about-batumi .center_small{
		padding-top: 130px;
	}

	.inner-page.invest-page main .about-batumi .center_small .content{
		padding: 30px;
	}

	.inner-page.invest-page main .about-batumi .center_small .content h2{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 15px;
	}

	.inner-page.invest-page main .about-batumi .center_small .content p{
		font-size: 16px;
		line-height: 20px;
	}

	.inner-page.invest-page main .about-batumi .center_small .content ul{
		margin-top: 15px;
	}

	.inner-page.invest-page main .about-batumi .center_small .content ul li{
		font-size: 16px;
		line-height: 20px;
		padding-left: 30px;
		margin-bottom: 15px;
	}

	.inner-page.invest-page main .real-estate .center_small h2{
		font-size: 24px;
		line-height: 24px;
		margin: 30px 0;
	}

	.inner-page.invest-page main .real-estate .center_small .boxes{
		display: block;
		margin-bottom: 30px;
	}

	.inner-page.invest-page main .real-estate .center_small .boxes .item:first-child{
		margin-right: 0;
		margin-bottom: 15px;
	}

	.inner-page.invest-page main .real-estate .center_small .boxes .item .image{
		height: 210px;
		margin-bottom: 15px;
	}

	.inner-page.invest-page main .real-estate .center_small .boxes .item p{
		font-size: 16px;
		line-height: 20px;
	}
}