@import 'fonts_ge';
@import 'variables';

.logo-live-social .center .right .center_small .live-video{
	font-family: 'Roboto _GEO Mt';
	font-size: 20px;
	line-height: 44px;
}

header .center .center_small .burger-language-data .languages li a{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

header .center .center_small .burger-language-data .data-box ul li h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 18px;
	line-height: 24px;
}

header .center .center_small .burger-language-data .data-box ul li p{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

header .center .contact-box a.ask-call{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 44px;
	font-weight: bold;
}

header .center .contact-box a.call{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 44px;
	font-weight: bold;
}

.image-text .text-box .center_small .box h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;
}

.image-text .text-box .center_small .box p{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 24px;
}

.navigation-box .nav-box nav ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 30px;
}

.navigation-box .nav-box .languages li a{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 30px;
}

.fixed-menu .top .live-video{
	font-family: 'Roboto _GEO Mt';
	font-size: 10px;
	line-height: 26px;
}

.fixed-menu .top .call{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 62px;
}

.fixed-menu .bottom .nav-box nav ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 25px;
}

.fixed-menu .bottom .nav-box .languages li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 25px;
}

main .about .center_small h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .about .center_small .content .text p{
	font-family: 'Roboto _Nusx';
	font-size: 18x;
	line-height: 22px;
}

main .about .center_small .content .text .data-list li p{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 74px;
}

main .call-request .ask-call{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 81px;
	font-weight: bold;
}

main .call-request h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 22px;
	line-height: 24px;
}

main .main-advantages .center_small h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
} 

main .main-advantages .center_small .list-box ul li p{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 24px;
}

main .infrastructure h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .infrastructure .boxes .box .title{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 90px;
	font-weight: bold;
}

main .infrastructure .boxes .box .content ul li span{
	font-family: 'Roboto _Nusx';
	font-size: 18x;
	line-height: 30px;
}

main .services .center h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .services .center .boxes .box p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
}

main .conditions h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .conditions .boxes .left .top p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .conditions .boxes .left .bottom p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .conditions .boxes .top-right p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .choose-flat .center .top h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 70px;
	font-weight: bold;
}

main .choose-flat .center .top a{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .choose-flat .center #chooseFlatOwl .item p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
}

main .benefits .center .left h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;
}

main .benefits .center .left ul li span{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 26px;
}

main .benefits .center .right a{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}