@import 'fonts_ge';
@import 'variables';

.logo-live-social .center .right .center_small .live-video{
	font-family: 'Roboto _GEO Mt';
	font-size: 20px;
	line-height: 44px;
}

header .center .center_small .burger-language-data .languages li a{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

header .center .center_small .burger-language-data .data-box ul li h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 18px;
	line-height: 24px;
}

header .center .center_small .burger-language-data .data-box ul li p{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

header .center .contact-box a.ask-call{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 44px;
	font-weight: bold;
}

header .center .contact-box a.call{
	font-family: 'Roboto _GEO Mt';
	font-size: 14px;
	line-height: 44px;
	font-weight: bold;
}

.image-text .text-box .center_small .box h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;
}

.image-text .text-box .center_small .box p{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 24px;
}

.navigation-box .nav-box nav ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 30px;
}

.navigation-box .nav-box .languages li a{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 30px;
}

.fixed-menu .top .live-video{
	font-family: 'Roboto _GEO Mt';
	font-size: 10px;
	line-height: 26px;
}

.fixed-menu .top .call{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 62px;
}

.fixed-menu .bottom .nav-box nav ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 25px;
}

.fixed-menu .bottom .nav-box .languages li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	line-height: 25px;
}

main .about .center_small h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .about .center_small .content .text p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}

main .about .center_small .content .text .data-list li p{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 74px;
}

main .call-request .ask-call{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 81px;
	font-weight: bold;
}

main .call-request h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 22px;
	line-height: 24px;
}

main .main-advantages .center_small h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
} 

main .main-advantages .center_small .list-box ul li p{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 24px;
}

main .infrastructure h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .infrastructure .boxes .box .title{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 90px;
	font-weight: bold;
}

main .infrastructure .boxes .box .content ul li span{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 30px;
}

main .services .center h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .services .center .boxes .box p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
}

main .conditions h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
}

main .conditions .boxes .left .top p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .conditions .boxes .left .bottom p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .conditions .boxes .top-right p{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .choose-flat .center .top h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 70px;
	font-weight: bold;
}

main .choose-flat .center .top a{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .choose-flat .center #chooseFlatOwl .item p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
}

main .benefits .center .left h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;
}

main .benefits .center .left ul li span{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 26px;
}

main .benefits .center .right a{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 70px;
	font-weight: bold;
}

main .tech .right h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 50px;
	line-height: 52px;
	font-weight: bold;
}

main .tech .right ul li span{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

footer h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

footer .center_small .data ul li span{
	font-family: 'Roboto _GEO Mt';
	font-size: 16px;
	line-height: 20px;
}

footer .center h3{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
}

footer .center .contact-data .center_small .messages ul li a.call{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 30px;
}

footer .center .contact-data .center_small .mailto a.mail{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 30px;
}

footer .center .contact-data .center_small .ask-call-box a{
	font-family: 'Roboto _GEO Mt';
	font-size: 18px;
	line-height: 44px;
	font-weight: bold;
}

footer .center .copyright p{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	line-height: 45px;
}

.inner-page main .cover .center_small h1{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 75px;
	font-weight: bold;
}

.inner-page.destination-page main .cover .center_small h1{
	line-height: 30px;
}

.inner-page.apartments-page main .apartments .center_small .left h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.apartments-page main .apartments .center_small .left .content p{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;
}

.inner-page.apartments-page main .apartments .center_small .left .content p .number{
	font-size: 50px;
	line-height: 50px;
}

.inner-page.apartments-page main .apartments .center_small .left .content p .small{
	font-size: 22px;
	line-height: 22px;
}

.inner-page.destination-page main .cover .center_small p{
	font-family: 'Roboto _Nusx';
	font-size: 22px;
	line-height: 24px;
}

.inner-page.destination-page main .text-image-box .center_small .text-image .column h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.destination-page main .text-image-box .center_small .text-image .column p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}

.inner-page.destination-page main .text-image-box .center_small .text-image .column ul li{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

.inner-page.about-company-page main .about-company .center_small h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.about-company-page main .about-company .center_small p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}

.inner-page.invest-page main .cover .center_small .about-georgia h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.invest-page main .cover .center_small .about-georgia .content p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}

.inner-page.invest-page main .cover .center_small .about-georgia .content ul li{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 24px;
}

.inner-page.invest-page main .tourism .center_small .content h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.invest-page main .tourism .center_small .content p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}

.inner-page.invest-page main .tourism .center_small .content ul li{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 24px;
}

.inner-page.invest-page main .text-boxes .center_small .box .left .content h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.invest-page main .text-boxes .center_small .box .right .content h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.invest-page main .text-boxes .center_small .box .left .content p,
.inner-page.invest-page main .text-boxes .center_small .box .right .content p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}

.inner-page.invest-page main .about-batumi .center_small .content h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.invest-page main .about-batumi .center_small .content p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}

.inner-page.invest-page main .about-batumi .center_small .content ul li{
	font-family: 'Roboto _GEO Mt';
	font-size: 22px;
	line-height: 24px;
}

.inner-page.invest-page main .real-estate .center_small h2{
	font-family: 'Roboto _GEO Mt';
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.inner-page.invest-page main .real-estate .center_small .boxes .item p{
	font-family: 'Roboto _Nusx';
	font-size: 18px;
	line-height: 22px;
}